@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles previously in HTML */
body {
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for horizontal scrolling areas but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}